@charset "UTF-8";
.cat{
    font-size: 70%;
    padding-right: 20px;
    background-image: url(../img/more.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.cat.male{
    color: #2793a7;
}
.cat.female{
    color: #df972f;
}

body{
    background-color: #fbf9cc; /* 背景色を変える */
    background-image: url(../img/fuji.png); /* 背景画像を変える */
    background-repeat: repeat-x; /* 横方向だけ繰り返し */
}
h1{
    font-size: 1.75em;
    color: #3399cc;
    text-align: center;
}
h2{
    font-size: 1.25em;
    color: #ffffff;
    border: #94c8b1 1px dotted;
    border-left:#d0e35b 10px solid;
    padding: 5px 20px;
    margin-bottom: 0;
}
p::first-letter{
    font-size: 3em;
}
